<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-1.9.1.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="http://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
        <div class="panel panel-primary" style="margin: 40px"  id="app">
            <div class="panel-heading">
                    <h2>请留言</h2>
            </div>
                <div class="panel-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">姓名：</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="姓名"  v-model="pm.name">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">姓名：</label>
                            <textarea class="form-control" rows="5" v-model="pm.comment"></textarea>
                        </div>
                        <button class="btn btn-default" v-on:click="onClick">提交</button>
                </div>

             <div class="panel-body">
                <div class="panel-heading">
                    <h4>留言记录</h4>
                </div>
                 <div class="panel-body">
                     <ul class="list-group">
                         <li  style="display: block"  v-for = "item in content">
                             <div class="panel panel-success">
                                 <div class="panel-heading">
                                     游客 {{ item.name }}  的留言 ({{ item.create_at}})
                                 </div>
                                 <div class="panel-body">
                                     {{ item.comment}}
                                 </div>
                             </div>
                         </li>

                     </ul>
                 </div>
             </div>
        </div>
</body>
<script src="../js/vueapp.js"></script>
</html>