<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href='/static/bootstrap3/css/bootstrap.min.css' type="text/css"/>
</head>
<body>
<h1>Hello Django!</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  </div>
</div>

<script type="text/javaScript" src='/static/jquery-3.2.1.min.js'></script>
<script type="text/javaScript" src='/static/bootstrap3/js/bootstrap.js'></script>
<script language="JavaScript">

</script>
</body>
</html>